.row {
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin: auto;
   width: 500px;

   &__col {
      flex: 1 1 auto;
      background-color: rgb(5, 197, 197);
      margin: 5px;
      cursor: pointer;
      position: relative;
      border-radius: 5px;

      &:before {
         content: "";
         padding-top: 100%;
         float: left;
      }

      >img {
         position: absolute;
         bottom: 50px;
         right: 50px;
         width: 50px;
         height: auto;

      }
   }
}

.way_section {
   display: flex;
   flex-direction: row;
   justify-content: center;
   // flex-wrap: wrap;
   // width: 300px;
   margin-top: 15px;
   margin-bottom: 15px;
   

   &__item {
      width: 50px;
      height: 50px;
      background-color: rgb(2, 144, 166);
      margin: 5px;
      border-radius: 30px;

      >img {
         &.left {
            transform: rotate(180deg);
         }

         &.up {
            transform: rotate(-90deg);
         }

         &.down {
            transform: rotate(90deg);
         }
      }
   }
}

.btn {
  font-size: 25px;

   display: flex;
   margin: 0 auto;
   color: white;

   border: none;
   background-color: rgb(5, 197, 197);
   border-radius: 5px;
   cursor: pointer;

   &:hover{
      background-color: rgb(8, 159, 159);
   }
}